html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    color: $color-text;
    font-size: $base-font-size;
    font-family: $font-primary;
    outline: none;
    word-wrap: break-word;
    font-weight: 400;
    overflow-x: hidden;
}

*, *:before, *:after {
    outline: none;
    box-sizing: inherit;
}

a {
    transition: all $trns-duration;

    &.primary-link {
        color: $color-primary;

        &:hover {
            border-bottom: 1px solid $color-primary;
        }
    }
}

.container {
    max-width: ($cont-width + $cont-padding);
    width: 100%;
    padding-left: ($cont-padding);
    padding-right: ($cont-padding);
    margin-left: auto;
    margin-right: auto;
}
