//paths
$fonts-folder: "../fonts";
$images-folder: '../img/';

//fonts
$font-primary: "ArialArmST", serif;
$font-secondary: "Times New Roman", serif;
$font-icons: "Icomoon Project Name";

//color usage
$color-primary: #0062ff;
$color-secondary: #fff;
$color-bg: #0e1725;
$color-grey: #dddedf;
$color-warning: #e44c23;

//Descriptive Base Colors
$color-text: #2b2e31;
$color-text-70: rgba(255, 255, 255, 0.7);
$color-text-50: rgba(255, 255, 255, 0.5);

//Text
$base-font-size: 14px;

//Border Radiuses
$br-default: 4px;
$br-md: 10px;
$br-lg: 30px;
$br-rounded: 50%;
$br-none: 0;

// Transitions
$trns-duration: .3s;
$trns-duration-lg: 1s;
$trns-delay: 50ms;

//container
$cont-width: 1170px;
$cont-padding: 30px;

//Resolutions
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;
