.btn {
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    font-size: $base-font-size;
    border-radius: 7px;
    font-family: 'ArialArmST';
    font-weight: 700;
    cursor: pointer;
    transition: all $trns-duration;

    &.secondary {
        background-color: transparent;
        color: $color-primary;
        border: 2px solid $color-primary;

        &:hover {
            box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
        }

    }
}
