input, textarea  {
    line-height: 40px;
    width: 100%;
    font-family: 'ArialArmST';
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid $color-border;
    background-color: transparent;
    padding: 0 25px;
    color: $color-secondary;
    transition: all $trns-duration;

    &:focus {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

textarea {
    resize: none;

    &.h-180 {
        height: 180px;
    }
}
