//floats
@each $key,$val in $resolutions {
  @media (min-width: $val) {
    // Alignment
    .float-#{$key}-left {
      float: left;
    }
    .float#{$key}-right {
      float: right;
    }
  }
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

//fixes
.clear-after {
  @include clear-after;
}
