.styles_modal__gNwvD {
    max-width: 1000px;
    width: 100%;
    min-height: 70vh;
    padding: 50px 50px 100px;
    border-radius: 5px;
    position: relative;


    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 120px;
        background: linear-gradient( to right, #0062ff 0%, rgba(0, 98, 255, 0.98) 2%, rgba(0, 98, 255, 0) 100%);
        opacity: 0.3;
    }



    .about-modal {
        display: flex;

        .about-modal-img {
            min-width: 350px;
            background:  no-repeat center center;
            background-size: cover;
            position: relative;
            z-index: 1;
        }

        .about-modal-info {
            padding-left: 50px;
        }
    }

    .styles_closeButton__20ID4 {
        top: -12px;
        right: -12px;
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
        background-color: white;
        height: 28px;
        width: 28px;
        line-height: 39px;
        cursor: pointer;
        text-align: center;
        display: block;


        svg {
            width: 20px;
            height: 20px;
            transition: all $trns-duration;
        }

        &:hover {

            svg {
                fill: $color-primary;
            }
        }
    }

}
