.tab {
    margin-top: -30px;
    z-index: 1;
    position: relative;
}
.tab-header {
    display: flex;
    flex-wrap: wrap;

    li {
        width: calc(100% / 3);

        a {
            display: block;
            position: relative;
            text-align: center;
            font-size: 20px;
            padding: 27px 10px;
            background-color: #fff;
            border-right: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                transform: translateX(-50%) translateY(100%);
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid #0062ff;
                transition: all $trns-duration;
                opacity: 0;
            }
        }

        &:last-child {
            a {
                border-right: none;
            }
        }

        &:not(.react-tabs__tab--selected) {
            a {
                //box-shadow: -1px -1px 6.65px 0.35px rgba(0, 0, 0, 0.2);


                &:before {
                    content: '';
                    height: 10px;
                    width: 99%;
                    position: absolute;
                    left: 50%;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    z-index: -1;
                    bottom: 0px;
                    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.2);
                }

                &:hover {
                    background-color: #f2f2f2;
                }
            }
        }


        &.react-tabs__tab--selected {
            a {
                background-color: $color-primary;
                color: #fff;

                &:after {
                    opacity: 1;

                }
            }
        }

        &:first-child {
            a {
                border-radius: 10px 0 0 10px;
            }
        }
        &:last-child {
            a {
                border-radius: 0 10px 10px 0;
            }
        }
    }
}

.tab-body {
    padding-top: 100px;
}

.tab-nav {
    ul {
        width: 100%;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

        li {
            a {
                border-bottom: 1px solid #ebebeb;
                font-size: 18px;
                font-weight: bold;
                padding: 35px 15px;
                display: block;
                line-height: 30px;
            }

            &:last-child {
                a {
                    border-bottom: none;
                }
            }

            &.active {
                a {
                    background-color: $color-primary;
                    color: #fff;
                }
            }
        }

    }
}
