.table {
    width: 100%;

    th {
        color: #fff;
        height: 40px;

        &:nth-child(1) {
            width: 40%;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            width: 30%;
        }
    }

    th, td {
        padding: 0 10px;
        vertical-align: middle;
        text-align: left;
    }

    td {
        height: 40px;
        color: #fff;
    }

    tbody {
    }
}

.flag {
    width: 40px;
    height: 26px;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 12px;
}


.my-collapsible__content {
    overflow: hidden;
}

