header {
    background-color: $color-bg;
    padding: 20px 0;
    color: $color-secondary;
}

.logo {
    max-width: 200px;
    display: block;

    &:hover {
        img {
            opacity: .8;
        }
    }

    img {
        width: 100%;
        transition: all $trns-duration;
    }
}

.header-nav {
    display: flex;
    justify-content: flex-end;

    li {
        margin: 0 10px;

        a {
            display: inline-block;

            &:hover {
                color: $color-primary;
            }
        }

        &.active {
            a {
                color: $color-primary;
            }
        }
    }
}
