.about-page {
    .main {
        padding-top: 70px;
    }

    [class^="about-"] {
        padding-bottom: 70px;
    }

    .scheme {
        max-width: 100%;
    }

    .about-4 {
        .files {
            text-align: center;
            display: block;

            img {
                display: inline-block;
                width: 80px;

            }
            span {
                padding-top: 15px;
                display: block;
                color: $color-primary;
            }


        }
    }

    .staff-card {
        display: block;
        padding: 13px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        background-color: #fff;
        border: 1px solid #ebebeb;
        cursor: pointer;
        margin-bottom: 25px;
        transition: all $trns-duration;
        position: relative;
        height: 100%;

        strong {
           margin: 15px 0 5px;
        }
        .staff-card-text {
            text-align: center;
        }
        p {
            opacity: 0.5;
        }

        img {
            display: block;
            width: 100%;
            transition: all $trns-duration;
            transform: scale(1);
        }
        .staff-card-img {
            overflow: hidden;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 100%;
                background-color: rgba(14, 23, 37, 0.2);
            }
        }


        &:hover {
            box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.15);
            z-index: 1;

            .staff-card-img {
                img {
                    transform: scale(1.08);
                }
            }
            strong {
                color: $color-primary;
            }
        }
    }
}
