.banner {
    position: relative;
    height: 650px;
    @include bg-img('hero.png', no-repeat, cover, $color-bg, top);

    &:before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        //background: linear-gradient(to bottom, rgba(16,23,30,1) 8%,rgba(16,23,30,1) 15%,rgba(16,23,30,0) 27%,rgba(16,23,30,0) 100%),
        //-webkit-linear-gradient(-45deg, rgba(16,23,30,1) 1%,rgba(16,23,30,1) 18%,rgba(16,23,30,1) 32%,rgba(16,23,30,1) 49%,rgba(16,23,30,0) 70%,rgba(16,23,30,0) 100%);

        background: linear-gradient(to bottom, rgba(14,23,37,1) 8%,rgba(14,23,36,1) 15%,rgba(14,23,35,0) 27%,rgba(16,23,30,0) 100%),
                    linear-gradient(135deg, rgba(6,24,59,1) 0%,rgba(8,24,52,1) 23%,rgba(10,24,48,1) 38%,rgba(11,24,44,1) 51%,rgba(14,23,35,0) 82%,rgba(16,23,30,0) 100%),
                    linear-gradient(to left, rgba(14,23,37,1) 0%,rgba(14,23,36,1) 9%,rgba(15,23,34,0) 32%,rgba(16,23,30,0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        @include bg-img('banner-pattern.png', no-repeat, contain, null , bottom left);
    }

    .banner-inner {
        position: relative;
        z-index: 1;
        color: #fff;
        width: 48%;
        padding-top: 120px;
    }

    h1 {
        font-size: 72px;
        padding-bottom: 50px;
        font-family: 'Bokonique-Bold';

        span {
            color: $color-primary;
        }
    }
    p {
        font-size: 24px;
        line-height: 36px;
        color: #8593ad;

        span {
            font-weight: 700;
            color: #fff;
        }
    }
}

//tab-section

.section-tab {
    padding: 0 0 150px;
}

//section

section {
    &.grey {
        background-color: #f7faff;
    }

    h2 {
        margin-bottom: 30px;
    }

    strong {
        display: block;
        font-weight: 700;
    }

    p, strong {
        margin-bottom: 15px;
        line-height: 20px;
    }
}

.section {
    padding: 80px 0;
}

.section-with-img {

    .section-img {
        position: relative;
        height: 485px;

        &:after {
            content: '';
            position: absolute;
            width: 300px;
            background: linear-gradient( 131deg, #0062ff 0%, rgba(0, 98, 255, 0.98) 2%, rgba(0, 98, 255, 0) 100%);
            top: 0;
            left: 0;
            height:  100%;
            opacity: .08;
        }

        .img {
            max-width: 400px;
            width: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            img {
                display: block;
                width: 100%;
            }
        }
    }

    &.img-to-right {
        .section-img {
            &:after {
                left: 100%;
                transform: translateX(-100%);
            }
        }
        .img {
            right: 100%;
            transform: translateX(100%) translateY(-50%);

            &:before {
                content: '';
                position: absolute;
                left: -50px;
                bottom: 0;
                height: 90%;
                width: 2px;
                background-color: $color-primary;
            }
        }
    }

    &:not(.img-to-right) {
        .img {
            &:before {
                content: '';
                position: absolute;
                top: -50px;
                right: 0;
                width: 90%;
                height: 2px;
                background-color: $color-primary;
            }
        }
    }
}

.section-contact {
    text-align: center;
    padding-bottom: 0;

    .contact-content {
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 50%;
            background-color: $color-primary;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.contact-list {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;

    .contact-list-item {
        display: flex;
        padding: 0 10px;

        >div {
            text-align: left;
            padding-left: 20px;
        }
        p {
            font-weight: 700;
            margin-bottom: 10px;
        }
        a {
            font-weight: 400;
        }
    }

    img {
        width: 53px;
        height: 53px;
    }
}

.contact-form {
    padding: 60px 0 40px;
    background-color: $color-bg-2;

    form {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }

}

.section-contact-bg {
    height: 200px;
    @include bg-img('contact-bg.png', no-repeat, cover, $color-bg, top);
}

.section-currency {
    background-color: $color-bg-2;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    visibility: hidden;
    opacity: 0;
    transition: all $trns-duration;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.2);


    img {

    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

}
